<nav>
  <div class="site-title">
    <a href="/"><h1>Infotech</h1></a>
  </div>
  <ul>
    <li><a href="/">Início</a></li>
    <li><a href="/about">Sobre</a></li>
    <li><a href="/areas">Áreas</a></li>
    <li><a href="/cursos">Cursos</a></li>
    <li><a href="/blogs/create">Vagas</a></li>
    <li><a href="/blogs/registroifads">Registrar Aluno IFSP</a></li>
    <li><a href="/loginifads">Login Aluno IFSP</a></li>
    <li><a href="/blogs/registropessoasti">Registrar Profissional</a></li>
    <li><a href="/loginpessoasti">Login Profissional</a></li>
  </ul>
</nav>