<nav>
  <div class="site-title">
    <a href="/"><h1>Infotech</h1></a>
    <p>Descrição</p>
  </div>
  <ul>
    <li><a href="/">Início</a></li>
    <li><a href="/about">Sobre</a></li>
    <li><a href="/blogs/create">Nova publicação</a></li>
    <li><a href="/blogs/registroifads">Registrar Aluno de ADS do IFSP</a></li>
    <li><a href="/blogs/registropessoasti">Registrar pessoas que trabalham com TI</a></li>
  </ul>
</nav>