<html lang="pt-BR">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
<h1>Áreas de TI</h1>
<h2>
- Analista de Sistemas; <br>
- Desenvolvimento de software (programação);<br>
- Engenheiro de software;<br>
- Arquiteto de software;<br>
- Agilista/Scrum master;<br>
- Tech Lead;<br>
- Segurança da Informação;<br>
- Qualidade de software;<br>
- Suporte técnico;<br>
- Administração de Redes;<br>
- Administração de Banco de Dados;<br>
- Cientista de Dados;<br>
- Cloud computing;<br>
- Gestão de TI;<br>
- Aprendizado de máquina;<br>
- ERP;<br>
- DevOPS;<br>
- Sistemas de Informação;<br>
- Big Data;<br>
- Blockchain;<br>
- Internet das coisas;<br>
- Inteligência Artificial;<br>
- UX (experiência do usuário);<br>
- Designer UI (interface do usuário);<br>
- Business Intelligence.<br>
</h2>
<%- include("./partials/footer.ejs") %>
</body>
</html>