<html lang="pt-BR">
<%- include("./partials/head.ejs") %>
<head>
    <style>
        a {
            color: blue;
        }
    </style>
</head>
<body>
  <%- include("./partials/nav.ejs") %>
<h1>CURSOS GRATUITOS:</h1>

     <a href="https://youtu.be/8mei6uVttho">Lógica de Programação</a><br>
    <a href="https://youtu.be/Ofktsne-utM">Curso de Banco de Dados SQL</a><br>
<%- include("./partials/footer.ejs") %>
</body>
</html>